<div class="absolute inset-0"  *ngIf="isLoading">
  <div class="flex items-center justify-center h-full z-10 bg-base-100">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
</div>

<grade-edit
  *ngIf="isUpdating"
  (loadingEmitter)="loadingToggle()"
  (updatingEmitter)="updatingToggle()"
  [Grade]="grado"
  class="flex flex-col items-center justify-center p-0 m-0 h-full z-0">
</grade-edit>

<div class="flex flex-col h-full " *ngIf="!isUpdating">

  <div class="card w-11/12 bg-base-200 mb-10 mx-auto shadow-xl h-32">
    <div class="card-body p-2 text-lg flex flex-col">

      <div class="flex m-0 ml-5 items-center">
        <div class="w-11/12">
          <div class="card-title">{{grado?.grade?.gradeName}} {{grado?.year}}-{{grado?.section}}</div>
        </div>

        <div class="card-actions justify-end">
          <button class="btn btn-success" (click)="Actualizar()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
          </button>
        </div>
      </div>

      <h2 class="mb-2 ml-5" *ngIf="grado?.professor_Guide">Catedratico Guia: {{grado.professor_Guide.firstName}} {{grado.professor_Guide.lastName}} </h2>
      <h2 class="mb-2 ml-5" *ngIf="!grado?.professor_Guide">Catedratico Guia: <strong>No asignado</strong> </h2>
   </div>
  </div>

  <ul class="menu mx-auto w-11/12 menu-horizontal rounded-box">
    <li class="text-md rounded-box" [ngClass]="StudentOrCourse ? 'bg-accent' : 'bg-ghost'" (click)="setStudentOrCourse(true)"><a>Alumnos</a></li>
    <li class="text-md rounded-box" [ngClass]="!StudentOrCourse ? 'bg-accent' : 'bg-ghost'" (click)="setStudentOrCourse(false)"><a>Cursos</a></li>
  </ul>

  <div class="mx-auto w-11/12 h-4/6 overflow-auto" *ngIf="cursos && StudentOrCourse">
    <div>
      <student-by-grade
        [students]="estudianes"
        [canCreate]= "true"
      ></student-by-grade>
    </div>

  </div>

  <div class="mx-auto mt-10 h-4/6 overflow-auto" *ngIf="StudentOrCourse && !cursos">
    No hay alumnos registrados
  </div>

  <div class="mx-auto w-11/12 h-4/6 overflow-auto" *ngIf=" cursos && !StudentOrCourse">
    <course-table
      [cursos]="cursos"
    > </course-table>
  </div>

  <div class="mx-auto mt-10 h-4/6 overflow-auto" *ngIf="!StudentOrCourse && !cursos">
    No hay cursos registrados
  </div>
</div>
