<div class="navbar bg-base-300 rounded-box home-navbar">
  <div class="flex-1 px-2 lg:flex-none">
    <a class="text-lg text-primary font-bold">Campus Sur</a>
  </div>
  <div class="flex flex-1 justify-end px-2">
    <div class="flex items-stretch">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost rounded-full p-0">
          <div class="avatar">
            <div class="w-12 rounded-full">
              <img [src]="profileImg"/>
            </div>
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu dropdown-content bg-base-300 rounded-box z-[1] mt-4 w-80 p-2 shadow">
          <li (click)="closeMenu( panelEnum.COURSE )">
            <a class="flex justify-start btn" [ngClass]="panelActual == panelEnum.COURSE  ? 'btn-accent' : 'btn-ghost'"  routerLink="advertisements">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z" clip-rule="evenodd" />
              </svg>
              Cursos
            </a>
          </li>
          <li (click)="CerrarSesion()">
            <a class="flex justify-start btn" routerLink="grades">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
              </svg>
              Cerrar Sesion
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="Content">

  <ul class="p-0 bg-base-200 menu min-w-60 shadow rounded-box hidden lg:block">
    <li (click)="closeMenu( panelEnum.COURSE )">
      <a class="flex justify-start btn" [ngClass]="panelActual == panelEnum.COURSE  ? 'btn-accent' : 'btn-ghost'" routerLink="courses">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path d="M11.25 4.533A9.707 9.707 0 0 0 6 3a9.735 9.735 0 0 0-3.25.555.75.75 0 0 0-.5.707v14.25a.75.75 0 0 0 1 .707A8.237 8.237 0 0 1 6 18.75c1.995 0 3.823.707 5.25 1.886V4.533ZM12.75 20.636A8.214 8.214 0 0 1 18 18.75c.966 0 1.89.166 2.75.47a.75.75 0 0 0 1-.708V4.262a.75.75 0 0 0-.5-.707A9.735 9.735 0 0 0 18 3a9.707 9.707 0 0 0-5.25 1.533v16.103Z" />
        </svg>
        Cursos
      </a>
    </li>
    <li (click)="CerrarSesion()">
      <a class="flex justify-start btn" routerLink="grades">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
        </svg>
        Cerrar Sesion
      </a>
    </li>
  </ul>

  <div class="p-5 h-full w-full">

    <router-outlet ></router-outlet>

  </div>

</div>
