<!-- user-form.component.html -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mx-20 p-4 bg-base-200 rounded-lg flex flex-wrap justify-center">
  <div class="mb-4 mx-5 w-1/3">
    <label for="firstName" class="label">Nombre</label>
    <input id="firstName" type="text" formControlName="FirstName" class="input input-bordered w-full">
  </div>

  <div class="mb-4 mx-5 w-1/3">
    <label for="lastName" class="label">Apellido</label>
    <input id="lastName" type="text" formControlName="LastName" class="input input-bordered w-full">
  </div>

  <div class="mb-4 mx-5 w-1/3">
    <label for="email" class="label">Email</label>
    <input id="email" type="email" formControlName="Email" class="input input-bordered w-full">
  </div>

  <div class="mb-4 mx-5 w-1/3">
    <label for="password" class="label">Contraseña</label>
    <input id="password" type="password" formControlName="Password" class="input input-bordered w-full">
  </div>

  <div class="mb-4 mx-5 w-1/3">
    <label for="phone" class="label">Numero Telefonico</label>
    <input id="phone" type="text" formControlName="Phone" class="input input-bordered w-full">
  </div>

  <div class="mb-4 mx-5 w-1/3">
    <label for="address" class="label">Direccion</label>
    <input id="address" type="text" formControlName="Address" class="input input-bordered w-full">
  </div>

  <div class="mb-4 mx-5 w-1/3">
    <label for="imgProfile" class="label">Foto de Perfil</label>
    <input id="imgProfile" type="file" (change)="onFileChange($event)" accept="image/*" class="file-input file-input-bordered file-input-md w-full">
  </div>

  <div class="mb-4 mx-5 w-1/5">
    <label for="gender" class="label">Genero</label>
    <select id="gender" formControlName="Gender" class="select select-bordered w-full">
      <option value="" disabled>Select gender</option>
      <option value="Hombre">Hombre</option>
      <option value="Mujer">Mujer</option>
    </select>
  </div>

  <div class="mb-4 mx-5 w-1/5">
    <label for="roleId" class="label">Role</label>
    <select id="roleId" formControlName="RoleId" class="select select-bordered w-full">
      <option value="" disabled>Selecciona el rol</option>
      <option value="1">Admininstrador</option>
      <option value="2">Catedratico</option>
    </select>
  </div>

  <div class="justify-end flex mt-10 w-full">
    <button type="submit" class="btn btn-primary w-1/4" [disabled]="userForm.invalid">Submit</button>
  </div>

</form>
