<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mx-5 md:mx-20 p-4 bg-base-200 rounded-lg flex flex-wrap justify-center">

  <div class="mb-4 mx-5 w-3/4 md:w-1/3">
    <label for="professorGuide" class="label">Catedratico Guia</label>
    <select id="professorGuide" formControlName="professorGuide" class="select select-bordered w-full">
      <option value="">Seleccion un Catedratico</option>
      <option *ngFor="let user of Teaches" [value]="user.userId">{{user.firstName}} {{user.lastName}}</option>
    </select>
    <div *ngIf="userForm.get('professorGuide')?.invalid && userForm.get('professorGuide')?.touched" class="text-red-500 text-sm">
      Seleccione un catedrático válido.
    </div>
  </div>

  <div class="mb-4 mx-5 w-3/4 md:w-1/3">
    <label for="year" class="label">Año</label>
    <select id="year" formControlName="year" class="select select-bordered w-full">
      <option [value]="thisYear-1">{{thisYear-1}}</option>
      <option [value]="thisYear">{{thisYear}}</option>
      <option [value]="thisYear+1">{{thisYear+1}}</option>
    </select>
    <div *ngIf="userForm.get('year')?.invalid && userForm.get('year')?.touched" class="text-red-500 text-sm">
      Ingrese un año válido de 4 dígitos.
    </div>
  </div>

  <div class="mb-4 mx-5 w-3/4 md:w-1/3">
    <label for="gradeId" class="label">Grado</label>
    <select id="gradeId" formControlName="gradeId" class="select select-bordered w-full">
      <option value="" disabled>Selecciona el grado</option>
      <option *ngFor="let grade of CatalogoGrados" [value]="grade.gradeId">{{grade.gradeName}}</option>
    </select>
    <div *ngIf="userForm.get('gradeId')?.invalid && userForm.get('gradeId')?.touched" class="text-red-500 text-sm">
      Seleccione un grado válido.
    </div>
  </div>

  <div class="mb-4 mx-5 w-3/4 md:w-1/3">
    <label for="section" class="label">Seccion</label>
    <select id="section" formControlName="section" class="select select-bordered w-full">
      <option *ngFor="let section of Seccion" [value]="section">{{section}}</option>
    </select>
    <div *ngIf="userForm.get('section')?.invalid && userForm.get('section')?.touched" class="text-red-500 text-sm">
      Seleccione una sección válida.
    </div>
  </div>

  <div class="justify-end flex mt-10 w-full">
    <button type="submit" class="btn btn-primary w-1/4" [disabled]="userForm.invalid">Crear</button>
  </div>

</form>
